.clusterize-scroll {
     max-height:800px;
     overflow: auto;
     width: 100%
}
.clusterize {
    background-color: #34495E;
}
.clusterize th {
    color: #dd5;
    margin: 1em;
    font-size: 1em;
}

.clusterize-scroll td a {
    font-size: 4em;
    margin: 1em;
    color: white;
}
.clusterize-scroll table {
    width: 100%;
}
#search {
    width: 100%;
    margin-top: 3em;
    margin-bottom: 3em;
}
.clusterize-content {
    text-align: center;
    width: 100%;
}
