.clusterize-scroll {
     max-height:800px;
     overflow: auto;
}
.clusterize {
    background-color: #34495E;
}
.clusterize th {
    color: #dd5;
    margin: 1em;
    font-size: 1em;
}

.clusterize-scroll td a {
    font-size: 1em;
    margin: 1em;
    color: white;
}

