.clusterize-scroll {
     max-height:800px;
     overflow: auto;
     width: 100%
}
.clusterize {
}
.clusterize th {
    color: #dd5;
    margin: 1em;
    font-size: 1em;
}
.clusterize-scroll td {
    border: 1px solid #ddd;
}
.clusterize-scroll tr:nth-of-type(even) {
    background: #F9F9F9;
}
.clusterize-scroll .result-type p{
    margin: .7em;
}
.clusterize-scroll td a {
    font-size: 2em;
    margin: 1em;
}
.clusterize-scroll table {
    width: 100%;
}
#search {
    width: 100%;
    margin-top: 3em;
    margin-bottom: 3em;
}
.clusterize-content {
    width: 100%;
}
