Scrapy==1.1.0
seaborn==0.7.0
semidbm==0.5.1
sphinx-rtd-theme==0.1.9
simplegeneric==0.8.1
appnope==0.1.0
path.py==0.0.0
beautifulsoup4==4.4.1
backports.shutil-get-terminal-size==1.0.0
stop-words==2015.2.23.1
termcolor==1.1.0
tables==3.2.3.1
tornado==4.3
traitlets==4.2.1
ipython==5.0.0
wheel==0.29.0
decorator==4.0.10
ipython-genutils==0.1.0
Flask==0.11.1
jsonschema==2.5.1
gensim==0.12.4
terminado==0.6
GitPython==1.0.1
jupyter-client==4.3.0
mistune==0.7.2
jupyter-console==5.0.0
ptyprocess==0.5.1
ipykernel==4.3.1
notebook==4.2.1
pexpect==4.0.1
jupyter==1.0.0
ipywidgets==4.1.1
nltk==3.2.1
pickleshare==0.7.2
pyenchant==1.6.6
pymc3==3.0
jupyter-core==4.1.0
pyPdf==1.13
Unidecode==0.4.19
pyzmq==15.2.0
qtconsole==4.2.1
cufflinks==0.8.2