{% extends 'index.html' %}
{% block style %}
<style>
 rect.bordered {
     stroke: #E6E6E6;
     stroke-width: 2px;
 }

 text.mono {
     font-size: 9pt;
     font-family: Consolas, courier;
     fill: #aaa;
 }

 text.axis-odeck {
     fill: #000;
 }
 text.axis-pdeck {
     fill: #000;
 }
</style>
{% endblock %}

{% block body %}

<div id="chart"></div>



<script type="text/javascript">
 var margin = { top: 50, right: 0, bottom: 100, left: 30},
     width = 960 - margin.left - margin.right,
     height = 600 - margin.top - margin.bottom,
     gridSize = 0,
     legendElementWidth = gridSize*2,
     buckets = 9,
     colors = ["#ffffd9","#edf8b1","#c7e9b4","#7fcdbb","#41b6c4","#1d91c0","#225ea8","#253494","#081d58"],
     datasets = ['data.csv']

 var svg = d3.select('#chart').append('svg')
             .attr("width", width + margin.left + margin.right)
             .attr("height", height + margin.top + margin.bottom)
             .append("g")
             .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

 d3.json('/matchups/ancient-molten-giant-2943/-X_VZRijrHoV4qMZxfXq', function(error, quotes) {
     var heatmapChart = function(tsvFile) {
         d3.tsv(tsvFile,
                function(d) {
                    return {
                        playerDeck: +d.p_deck_type,
                        opponentDeck: +d.o_deck_type,
                        win% = +d.win%
                    };
                },
                function(error, data) {
                    var colorScale = d3.scale.quantile()
                                       .domain([0, buckets - 1, d3.max(data, function (d) { return d.value; })])
                                       .range(colors);
                    var cards = svg.selectAll(".opponentDeck")
                                   .data(data, function(d))
                }
         )
     }
 })
</script>
{% endblock %}
