{% extends 'index.html' %}

{% block body %}

<div class="container">
    <input type="text" id="search" placeholder="Enter a deck or card"/>

    <div class="clusterize row">
        <table class="eleven columns">
            <p>Search Results</p>
        </table>
        <div id="scrollArea" class="clusterize-scroll eleven columns">
            <table>
                <tbody id="contentArea" class="clusterize-content">
                    <tr class="clusterize-no-data">
                        <td>Loading data…</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}


{% block scripts %}
<script src="{{url_for('static', filename='bower_components/clusterize/clusterize.min.js')}}"></script>
<script>
 var rows = [],
     search = document.getElementById('search');

 /* Fill array with data
  *
  * Fields:
  * values *array* - value of each field (in case use of table)
  * markup *string* - markup that will be added to the DOM
  * active *bool* - specifies if row is suitable by search phrase
  */
 card_data = {{card_data | tojson}};
 deck_data = {{deck_data | tojson}};

 for(var i = 0; i < deck_data.length; i++){
     rows.push({
         value: deck_data[i].toLowerCase(),
         markup: '<tr>' +
                 '<td>' + '<a class="link" href="/deck/' + deck_data[i] + '">' + deck_data[i] + '</a>' + '</td>' +
                 '<td class="result-type"><p>Deck</p></td>'+
                 '</tr>',
         active: true
     });
 }

 for (var i = 0; i < card_data.length; i++) {
     rows.push({
         value: card_data[i].toLowerCase(),
         markup: '<tr>' +
                 '<td>' + '<a class="link" href="/card/' + card_data[i] + '">' + card_data[i] + '</a>' + '</td>' +
                 '<td class="result-type"><p>Card</p></td>'+
                 '</tr>',
         active: true
     });
 }
 /*
  * Fetch suitable rows
  */
 var filterRows = function(rows) {
     var results = [];
     for(var i = 0, ii = rows.length; i < ii; i++) {
         if(rows[i].active) results.push(rows[i].markup)
     }
     return results;
 }

 /*
  * Init clusterize.js
  */
 var clusterize = new Clusterize({
     rows: filterRows(rows),
     scrollId: 'scrollArea',
     contentId: 'contentArea'
 });

 /*
  * Multi-column search
  */
 var onSearch = function() {
     for(var i = 0, ii = rows.length; i < ii; i++) {
         var suitable = false;
         if (rows[i].value.toString().toLowerCase().indexOf(search.value.toLowerCase()) + 1) {
             suitable = true;
         }
         rows[i].active = suitable;
     }
     clusterize.update(filterRows(rows));
 }
 search.oninput = onSearch;
</script>
{% endblock %}
