{% extends 'index.html' %}



{% block body %}
        <h3>{{name}}</h3>
        <div id="graph"></div>
{% endblock%}


{% block footer %}
        <!-- Plotly.js -->
        <script src="{{url_for('static', filename='bower_components/plotlyjs/plotly.js')}} "> </script>

        <script type="text/javascript">
         var graphs = {{graphJSON | safe}};
         for(var i in graphs) {
             Plotly.plot(graph, // the ID of the div, created above
                         graphs[i].data,
                         graphs[i].layout || {});
         }
        </script>
    </footer>

{% endblock %}
