{% extends 'index.html' %}



{% block body %}
        {% for id in ids %}
            <h3>{{id}}</h3>
            <div id="{{id}}"></div>
        {% endfor %}
{% endblock%}


{% block scripts %}
        <!-- Plotly.js -->
        <script src="{{url_for('static', filename='bower_components/plotlyjs/plotly.js')}} "> </script>

        <script type="text/javascript">
         var graphs = {{graphJSON | safe}};
         var ids = {{ids | safe}};
         for(var i in graphs) {
             Plotly.plot(ids[i], // the ID of the div, created above
                         graphs[i].data,
                         graphs[i].layout || {});
         }
        </script>
    </footer>

{% endblock %}
